<div class="row">
  <div class="col-md-12 mb-3 bg-light">
    <h5>Insurance Form</h5>
  </div>
<form>
  <div class="row mb-2">
    <div class="col">
      <label>Registration Number</label>
      <input type="text" class="form-control" placeholder="Registration Number:" name="Registration">
    </div>
    <div class="col ">
      <label>Sticker Number</label>
      <input type="Sticker Number" class="form-control" placeholder="Enter No:" name="pswd">
    </div>
  </div>

  <!-- <div class="row" mb-2>
    <div class="col">
      <label>Cover Note Refference</label>
      <input type="text" class="form-control" placeholder="Cover Note Refference:" name="covernote">
    </div>
    <div class="col">
      <label>Type of Cover</label>
      <input type="Type Of Cover" class="form-control" placeholder="Enter Type Of Cover:" name="pswd">
    </div>
  </div> -->
  <div class="row mb-2">
    <div class="col">
      <label>Class of Insurance</label>
      <input type="text" class="form-control" placeholder="Class of Insurance:" name="Insurance">
    </div>
    <div class="col ">
      <label>Insurer</label>
      <input type="Insurer" class="form-control" placeholder="Enter No:" name="insurer">
    </div>
  </div>

  <div class="row" mb-2>
    <div class="col">
      <label><i class="fa fa-home"></i> Start Date</label>
      <input type="date" class="form-control" placeholder="Start Date:" name="date">
    </div>
    <div class="col">
      <label>End Date</label>
      <input type="date" class="form-control" placeholder="Enter End Date:" name="date">
    </div>
  </div>
  <!-- <div class="row mb-2">
    <div class="col">
      <label>Class of Insurance</label>
      <input type="text" class="form-control" placeholder="Class of Insurance:" name="Insurance">
    </div>
    <div class="col ">
      <label>Insurer</label>
      <input type="Insurer" class="form-control" placeholder="Enter No:" name="insurer">
    </div>
  </div> -->

  <div class="row" mb-2>
    <div class="col">
      <label>Date Issued</label>
      <input type="date" class="form-control" placeholder="Date Issued:" name="date">
    </div>
    <div class="col">
      <label>Ammount Paid</label>
      <input type="Ammount Paid" class="form-control" placeholder="Ammount Paid:" name="date">
    </div>
  </div>
  <!-- <div class="row mb-2">
    <div class="col">
      <label>Type of Cover</label>
      <input type="text" class="form-control" placeholder="Type of Cover:" name="Insurance">
    </div>
    <div class="col ">
      <label>Chasis Number</label>
      <input type="Insurer" class="form-control" placeholder="Chasis No:" name="insurer">
    </div>
  </div> -->
  <div class="row mb-2">
    <div class="col-md-5">
    <button type="button" class="btn btn-success mt-3">Submit</button>
    </div>
    </div>
</form>

