<header>
  <h2>TRAFFIC MANAGEMENT SYSTEM</h2>
</header>
<section>
  <nav>
    <ul>
      <li><a routerLink="/dashboard"><i class="fa fa-dashboard" style="color: white;"></i> Dashboard</a></li><br>
      <li><a routerLink="/nav/road-form"><i class="fa fa-truck" style="color:white"></i> Road licence Form</a></li><br>
      <li><a routerLink="/nav/licence-information"><i class="fa fa-file-photo-o" style="color:white"></i> Road licence Information</a></li><br>
      <li><a routerLink="/nav/insurence-form"><i class="fa fa-cab" style="color:white"></i> Insurence Form</a></li><br>
      <li><a routerLink="/nav/insure"><i class="fa fa-file-text" style="color:white"></i> Insurence Information</a></li><br>
      <li><a routerLink="/nav/police"><i class="fa fa-file-text" style="color:white"></i> police</a></li><br>
      <!-- <li><a routerLink="/nav/police-form"><i class="fa fa-file-text" style="color:white"></i> police-form </a></li><br> -->
      <li><a href="#"><i class="fa fa-refresh" style="color: white;"></i>Logout</a></li>
    </ul>
  </nav>

  <article>

    <router-outlet></router-outlet>


  </article>
</section>

<footer>
  <p >traffic@zanzibar 2022</p>
</footer>

